.slideshow {
    position: relative;
    width: inherit;
    height: 280px;
}

.slideshowImage {
    object-fit: contain;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.previousButton {
background-color: rgba(11, 36, 71, 0.30);
border: none;
color:white;
height: 44px;
width: 44px;
margin-top: 120px;
font-size: 25px;
position: absolute;
top: 0;
left: 0;
cursor: pointer;
}

.nextButton {
background-color: rgba(11, 36, 71, 0.30);
border: none;
color:white;
height: 44px;
width: 44px;
margin-top: 120px;
font-size: 25px;
position: absolute;
top: 0;
right: 0;
cursor: pointer;
}

.previousButton:hover, .nextButton:hover {
    background-color: rgba(11, 36, 71, 0.5);
}

.previousButton:active, .nextButton:active {
    background-color: rgba(11, 36, 71, 0.3);
}

.description {
    margin-top: 2px;
    padding: 1px;
    text-align: center;
}

@media (max-width: 768px) {
    .previousButton, .nextButton {
        height: 32px;
        width: 32px;
    }
}
