<meta name="viewport" content="width=device-width, initial-scale=1.0">
<header>
    <app-navigation-bar></app-navigation-bar>
</header>
<main>
    <div class="ProjectContainer">
        <div class="ProjectDescription">
            <p class="ProjectDescriptionTitle">Personal Website</p>
            <p class="ProjectDescriptionType">Type: Personal Project</p>
            <p class="ProjectDescriptionLocation">Location: -</p>
            <p class="ProjectDescriptionDate">Date: 19 Apr 2023 - 29 apr 2023</p>
            <br>
            <p>
                The purpose of personal website is to showcase my skills and experience. 
                Additionally, it provides a centralized location to access my resume and to contact me, simplifying the process for potential employers.
            </p>
            <br>
            <p>
                The project is composed of two main components: the frontend, which refers to the user interface, 
                and the backend, which involves hosting the website and handling the transmission of emails.
            </p>
            <br>
            <p>The git repository can be found <a href="https://github.com/AlexandruMalgras/PersonalWebsite" target="_blank">here</a>.</p>
            <br>
            <p class="ProjectDescriptionSkills">Skills: Angular, HTML, CSS, TypeScript, .Net Core, REST API, C#, Git</p>
        </div>

        <div class="ProjectMedia">
            <iframe class="ProjectVideo" src="https://www.youtube.com/embed/53QUaf2Xm1s" title="Website presentation"
             frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
    
    <div class="ProjectContainer">
        <div class="ProjectDescription">
            <p class="ProjectDescriptionTitle">Computer Status</p>
            <p class="ProjectDescriptionType">Type: Personal Project</p>
            <p class="ProjectDescriptionLocation">Location: -</p>
            <p class="ProjectDescriptionDate">Date: 21 Mar 2023 - Present</p>
            <br>
            <p>
                Computer Status is a project that retrieves hardware data from a computer and displays it on a website. 
            </p>
            <br>
            <p>
                The project consists of two main components: the user interface, which is represented by a website that displays the information, 
                and the backend, which is a server that includes various modules. 
                These modules are responsible for tasks such as retrieving hardware data, transmitting the data to the database, 
                retrieving essential information from the database, and implementing API controllers that retrieve the data to be displayed on the website.
            </p>
            <br>
            <p>The git repository can be found <a href="https://github.com/AlexandruMalgras/PcStatusProject" target="_blank">here</a>.</p>
            <br>
            <p class="ProjectDescriptionSkills">Skills: C#, .Net Core, REST API, Azure Cloud, Cosmos DB, SQL, Git</p>
        </div>

        <div class="ProjectMedia">
            <iframe class="ProjectVideo" src="https://www.youtube.com/embed/D5QSkM4HyAs" title="YouTube video player"
             frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>

    <div class="ProjectContainer">
        <div class="ProjectDescription">
            <p class="ProjectDescriptionTitle">Model Validation 3D Concrete Printing</p>
            <p class="ProjectDescriptionType">Type: Internship at <a href="https://cybe.eu/" target="_blank">Cybe Construction</a></p>
            <p class="ProjectDescriptionLocation">Location: Oss, North Brabant, Netherlands | Remote</p>
            <p class="ProjectDescriptionDate">Date: Aug 2022 - Sep 2023</p>
            <br>
            <p>
                I developed a model validation service to guarantee the successful printing of 3D models.
                The validation involves a set of algorithms that enforce rules specific to 3D concrete printing.
            </p>
            <br>
            <p>
                The algorithms are automatically analysing a model when it is added to the software that is converting the model to printable code. 
                The user can opt in or out to run the validation by interacting with the validation checkbox in the user interface. 
                The algorithms are customizable based on the user needs. The user can customize the algorithms by interacting with the settings user interface.
                In the video, the algorithms are applied on different 3D models. The results can be seen in the console, and when applicable on the model directly.
                In examples 2 and 3, wall 3D models of 3m height and 3m width are validated by the model validator.
            </p>
            <br>
            <p class="ProjectDescriptionSkills">Skills: C#, Problem Solving, .Net WPF, Unit Testing, Git</p>
        </div>

        <div class="ProjectMedia">
            <iframe class="ProjectVideo" src="https://www.youtube.com/embed/UvYO69qLT_E" title="YouTube video player"
             frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
            </iframe>
        </div>
    </div>

    <div class="ProjectContainer">
        <div class="ProjectDescription">
            <p class="ProjectDescriptionTitle">Arduino Development</p>
            <p class="ProjectDescriptionType">Type: University Project</p>
            <p class="ProjectDescriptionLocation">Location: Eindhoven, North Brabant, Netherlands | Remote</p>
            <p class="ProjectDescriptionDate">Date: Sep 2021 - Jan 2022</p>
            <br>
            <p>
                During my minor in embedded systems at Fontys University of Applied Sciences, 
                I had the opportunity to learn about Arduino development as an essential part of the program. 
                Through this course, I gained a thorough understanding of the fundamentals of the Arduino ATmega328P microcontroller, 
                as well as key concepts like timers, analog reading, UART, and electronics.
            </p>
            <br>
            <p>
                The git repository can be found <a href="https://github.com/AlexandruMalgras/Arduino" target="_blank">here</a>.
            </p>
            <br>
            <p class="ProjectDescriptionSkills">Skills: C++, Arduino IDE, Breadboard-Arduino Management, Git</p>
        </div>

        <div class="ProjectMedia">
            <iframe class="ProjectVideo" src="https://www.youtube.com/embed/9F42t-ekhuM"
             title="Testing the timers" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
            </iframe>
        </div>
    </div>

    <div class="ProjectContainer">
        <div class="ProjectDescription">
            <p class="ProjectDescriptionTitle">Electric Powerboat Dashboard</p>
            <p class="ProjectDescriptionType">Type: Internship at <a href="https://edoradomarine.com/" target="_blank">Edorado Marine</a></p>
            <p class="ProjectDescriptionLocation">Location: Dordrecht, South Holand, Netherlands | Remote</p>
            <p class="ProjectDescriptionDate">Date: Feb 2021 - Jul 2021</p>
            <br>
            <p>
                At Edorado Marine, I utilized the Elastic Stack to create a dashboard on Amazon Web Services that enables engineers to analyze data more efficiently. 
                The dashboard displays boat-related data collected through a custom logging program that I developed. 
                This program directly retrieves the data from Docker for easy and streamlined access.
            </p>
            <br>
            <p>
                In the initial phase of the project, the task was to explore various data storage services available on AWS and identify the most appropriate one. 
                Afterward, the focus was on configuring the selected service, developing a logging program, and presenting essential data and graphs on the frontend.
            </p>
            <br>
            <p class="ProjectDescriptionSkills">Skills: Java, AWS Cloud, ELK Stack, S3, SQL, Git, Docker</p>
        </div>

        <div class="ProjectMedia">
            <app-slideshow [images]="edoradoMarineImages"></app-slideshow>
        </div>
    </div>
</main>
<footer>
    <app-footer></app-footer>
</footer>
