.navigation-bar {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  background-color: #0B2447;
  top: 0px;
  z-index: 999;
  height: 50px;
  width: 100%;
}

.nav-items, .nav-toggle {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 30px;
}

.nav-toggle {
  color: white
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  font-size: 18px;
  width: 80px;
  height: 100%;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  vertical-align: center;
  transition: all 0.3s ease;
  text-decoration: none;
}

.nav-item:hover, .active-link {
  background-color: white;
  color: #0B2447;
}

.nav-items-closed {
  display: none;
}

.nav-toggle {
  display: none;
}

@media (max-width: 768px) {
    .nav-items {
      display: none;
    }

    .nav-items-open {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      position: fixed;
      width: 45%;
      left: 55%;
      top: 50px;
      background-color: #0B2447;
    }

    .nav-item-small {
      margin-top: 5px;
      margin-bottom: 5px;
      text-decoration: none;
      color:white;
      font-size: 19px;
    }

    #nav-item-small-first {
      margin-top: 10px;
    }

    #nav-item-small-last {
      margin-bottom: 10px
    }

    .active-link {
      color: #0B2447;
    }

    .nav-toggle {
      display: flex;
    }
}
  