<nav>
  <div class="navigation-bar">
    <div class="nav-items">
      <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" class="nav-item">Home</a>
      <a routerLink="/projects" routerLinkActive="active-link" class="nav-item">Projects</a>
      <a routerLink="/resume" routerLinkActive="active-link" class="nav-item">Resume</a>
      <a routerLink="/about" routerLinkActive="active-link" class="nav-item">About</a>
      <a routerLink="/contact" routerLinkActive="active-link" class="nav-item">Contact</a>
    </div>
  </div> 
</nav>     