<nav>
  <div class="navigation-bar">
    <div class="nav-items">
      <button routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" class="nav-item">Home</button>
      <button routerLink="/projects" routerLinkActive="active-link" class="nav-item">Projects</button>
      <button routerLink="/resume" routerLinkActive="active-link" class="nav-item">Resume</button>
      <button routerLink="/about" routerLinkActive="active-link" class="nav-item">About</button>
      <button routerLink="/contact" routerLinkActive="active-link" class="nav-item">Contact</button>
    </div>
  </div> 
</nav>     