<meta name="viewport" content="width=device-width, initial-scale=1.0">
<header>
    <app-navigation-bar></app-navigation-bar>
</header>
<main>
    <div class="home-container">
        <div class="home-text-container">
            <p class="home-text-name">Alexandru Malgras
                <span class="home-text-type">Software Engineer</span>
            </p>
        </div>
        <div class="home-picture-container">
            <img src="../../assets/ProfilePicture.png">
        </div>
    </div>
</main>
<footer>
    <app-footer></app-footer>
</footer>