<div class="footer">
    <div class="footer-pages">
        <button routerLink="/" class="footer-page">Home</button>
        <button routerLink="/projects" class="footer-page">Projects</button>
        <button routerLink="/resume" class="footer-page">Resume</button>
        <button routerLink="/about" class="footer-page">About</button>
        <button routerLink="/contact" class="footer-page">Contact</button>
    </div>
    <div class="footer-icons">
        <a href="https://github.com/AlexandruMalgras" target="_blank">
            <img src="../../assets/icons/github.png" alt="GitHub icon" class="footer-icon">
        </a>
        <a href="https://www.linkedin.com/in/alexandru-malgras-4b0073202/" target="_blank">
            <img src="../../assets/icons/linkedin.png" alt="Linkedin icon" class="footer-icon">
        </a>
        <a href="https://www.hackerrank.com/alexandru_malgr1?hr_r=1" target="_blank">
            <img src="../../assets/icons/hackerrank.png" alt="Hackerrank icon" class="footer-icon">
        </a>
    </div>
</div>
